---
layout: default
---

{% assign nbteams = 0 %}

{% assign teamsFromYear = ""%}

{% for team in site.data.teams %}
  {% if team.year == page.year %}
    {% assign nbteams = nbteams | plus: 1 %}

    {% assign teamsFromYear = teamsFromYear | append: team.Teamname | append: "||" | append: team.url | append: "|||" %}

  {% endif %}
{% endfor %}

{% assign teamsPerTable = nbteams | divided_by: 4 %}

{% assign teamsFromYearArray = teamsFromYear | split: '|||' | sort %}
<div class="row">
  <div class="col-md-3">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>

{% assign tableIndex = 0 %}
{% for team in teamsFromYearArray %}
{% assign tableIndex = tableIndex | plus: 1 %}

{% if tableIndex > teamsPerTable %}
  {% assign tableIndex = 0 %}
      </tbody>
        </table>
      </div>
    <div class="col-md-3">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
{% endif %}

{% assign teamData = team | split: '||' %}

  <tr>
    <td>
      <a href="/team/{{ page.year }}/{{ teamData[1] }}">{{ teamData[0] }}</a>
    </td>
  </tr>

{% endfor %}

</tbody>
  </table>
</div>
</div>
