---
layout: default
---

{% assign nbteams = 0 %}

{% assign teamsFromYear = ""%}

{% for team in site.data.teams %}
  {% if team.year == page.year %}
    {% assign nbteams = nbteams | plus: 1 %}

    {% assign teamsFromYear = teamsFromYear | append: team.Teamname | append: "||" | append: team.url | append: "|||" %}

  {% endif %}
{% endfor %}

{% assign teamsFromYearArray = teamsFromYear | split: '|||' %}

{% for team in teamsFromYearArray %}
<p>{{ team }}</p>
{% endfor %}

{% assign teamsPerTable = nbteams | divided_by: 4 %}

<h1>There is {{ nbteams }} teams</h1>
